@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title> 401 Página  no autorizado </title>
</head>
<body>
    <h1>401 Página  no autorizada</h1>
</body>
</html>